<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Chords</string>
		<key>everyChild</key>
		<array>
			<dict>
				<key>name</key>
				<string>Major</string>
				<key>everyChild</key>
				<array>
					<dict>
						<key>name</key>
						<string>major</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>maj</string>
							<string>(none)</string>
							<string>M</string>
						</array>
						<key>mode</key>
						<array>
							<string>Ionian</string>
						</array>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>First</string>
								<key>numerator</key>
								<integer>1</integer>
								<key>denominator</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Third</string>
								<key>numerator</key>
								<integer>5</integer>
								<key>denominator</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Fifth</string>
								<key>numerator</key>
								<integer>3</integer>
								<key>denominator</key>
								<integer>2</integer>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>major seventh</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>maj7</string>
							<string>Δ7</string>
							<string>ma7</string>
							<string>M7</string>
							<string>Δ</string>
						</array>
						<key>mode</key>
						<array>
							<string>Ionian</string>
						</array>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>First</string>
								<key>numerator</key>
								<integer>1</integer>
								<key>denominator</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Third</string>
								<key>numerator</key>
								<integer>5</integer>
								<key>denominator</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Fifth</string>
								<key>numerator</key>
								<integer>3</integer>
								<key>denominator</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Seventh</string>
								<key>numerator</key>
								<integer>15</integer>
								<key>denominator</key>
								<integer>8</integer>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>major ninth</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>maj9</string>
						</array>
						<key>mode</key>
						<array>
							<string>Ionian</string>
						</array>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>First</string>
								<key>numerator</key>
								<integer>1</integer>
								<key>denominator</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Third</string>
								<key>numerator</key>
								<integer>5</integer>
								<key>denominator</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Fifth</string>
								<key>numerator</key>
								<integer>3</integer>
								<key>denominator</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Seventh</string>
								<key>numerator</key>
								<integer>15</integer>
								<key>denominator</key>
								<integer>8</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Ninth</string>
								<key>numerator</key>
								<integer>9</integer>
								<key>denominator</key>
								<integer>4</integer>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>major eleventh</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>maj13</string>
						</array>
						<key>mode</key>
						<array>
							<string>Ionian</string>
						</array>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>First</string>
								<key>numerator</key>
								<integer>1</integer>
								<key>denominator</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Third</string>
								<key>numerator</key>
								<integer>5</integer>
								<key>denominator</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Fifth</string>
								<key>numerator</key>
								<integer>3</integer>
								<key>denominator</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Seventh</string>
								<key>numerator</key>
								<integer>15</integer>
								<key>denominator</key>
								<integer>8</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Ninth</string>
								<key>numerator</key>
								<integer>9</integer>
								<key>denominator</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Eleventh</string>
								<key>numerator</key>
								<integer>8</integer>
								<key>denominator</key>
								<integer>3</integer>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>sixth</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>6</string>
							<string>add6</string>
							<string>add13</string>
						</array>
						<key>mode</key>
						<array>
							<string>Ionian</string>
						</array>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>First</string>
								<key>numerator</key>
								<integer>1</integer>
								<key>denominator</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Third</string>
								<key>numerator</key>
								<integer>5</integer>
								<key>denominator</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Fifth</string>
								<key>numerator</key>
								<integer>3</integer>
								<key>denominator</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Sixth</string>
								<key>numerator</key>
								<integer>5</integer>
								<key>denominator</key>
								<integer>3</integer>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>sixth/ninth</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>6/9</string>
							<string>69</string>
						</array>
						<key>mode</key>
						<array>
							<string>Ionian</string>
						</array>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>First</string>
								<key>numerator</key>
								<integer>1</integer>
								<key>denominator</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Third</string>
								<key>numerator</key>
								<integer>5</integer>
								<key>denominator</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Fifth</string>
								<key>numerator</key>
								<integer>3</integer>
								<key>denominator</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Sixth</string>
								<key>numerator</key>
								<integer>5</integer>
								<key>denominator</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Ninth</string>
								<key>numerator</key>
								<integer>9</integer>
								<key>denominator</key>
								<integer>4</integer>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>lydian</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>maj♯4</string>
							<string>Δ♯4</string>
							<string>Δ♯11</string>
						</array>
						<key>mode</key>
						<array>
							<string>Lydian</string>
						</array>
						<key>everyChild</key>
						<array>
							<integer>1</integer>
							<integer>3</integer>
							<string>(5)</string>
							<string>(7)</string>
							<string>♯11</string>
							<string>(9,13..)</string>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>major seventh ♭6 or b13</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>maj7♭6</string>
							<string>ma7♭6</string>
							<string>M7♭6</string>
						</array>
						<key>mode</key>
						<array>
							<string>Harmonic Major</string>
						</array>
						<key>everyChild</key>
						<array>
							<integer>1</integer>
							<integer>3</integer>
							<string>(5)</string>
							<string>(7)</string>
							<string>(9)</string>
							<string>(b13)</string>
							<string>(11)</string>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Dominant</string>
				<key>everyChild</key>
				<array>
					<dict>
						<key>name</key>
						<string>Normal</string>
						<key>kind</key>
						<integer>0</integer>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>dominant seventh</string>
								<key>abbreviations</key>
								<array>
									<string>7</string>
									<string>dom</string>
								</array>
								<key>mode</key>
								<array>
									<string>Mixolydian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>3</integer>
									<string>(5)</string>
									<string>♭7</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>dominant ninth</string>
								<key>abbreviations</key>
								<array>
									<string>9</string>
								</array>
								<key>mode</key>
								<array>
									<string>Mixolydian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>3</integer>
									<string>(5)</string>
									<string>♭7</string>
									<integer>9</integer>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>dominant thirteenth</string>
								<key>abbreviations</key>
								<array>
									<string>13</string>
								</array>
								<key>mode</key>
								<array>
									<string>Mixolydian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>3</integer>
									<string>(5)</string>
									<string>♭7</string>
									<string>(9)</string>
									<integer>13</integer>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>lydian dominant seventh</string>
								<key>abbreviations</key>
								<array>
									<string>7♯11</string>
									<string>7♯4</string>
								</array>
								<key>mode</key>
								<array>
									<string>Lydian Dominant (melodic minor 4th mode)</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>3</integer>
									<string>(5)</string>
									<string>♭7</string>
									<string>♯11</string>
									<string>(9,13..)</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Altered</string>
						<key>kind</key>
						<integer>0</integer>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>dominant ♭9</string>
								<key>abbreviations</key>
								<array>
									<string>7♭9</string>
								</array>
								<key>mode</key>
								<array>
									<string>Half-tone/tone (8 note scale)</string>
									<string>1/2 step/whole step Diminished scale</string>
									<string>Octatonic scale.</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>3</integer>
									<string>(5)</string>
									<string>♭7</string>
									<string>♭9</string>
									<string>(♯9,♭5,6..)</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>dominant ♯9</string>
								<key>abbreviations</key>
								<array>
									<string>7♯9</string>
								</array>
								<key>mode</key>
								<array>
									<string>Mixolydian with ♭3</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>3</integer>
									<string>(5)</string>
									<string>♭7</string>
									<string>♯9</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>altered</string>
								<key>abbreviations</key>
								<array>
									<string>alt7</string>
								</array>
								<key>mode</key>
								<array>
									<string>Locrian ♭4 (super-locrian)</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>3</integer>
									<string>♭7</string>
									<string>(♭9)</string>
									<string>(♭5,♭6,♯9..)</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Suspended</string>
						<key>kind</key>
						<integer>0</integer>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>suspended 4th</string>
								<key>abbreviations</key>
								<array>
									<string>sus4</string>
								</array>
								<key>mode</key>
								<array>
									<string>Usually mixolydian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>4</integer>
									<string>(5)</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>suspended 2nd</string>
								<key>abbreviations</key>
								<array>
									<string>sus2</string>
								</array>
								<key>mode</key>
								<array>
									<string>Usually mixolydian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>2</integer>
									<string>(5)</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>suspended 4th seventh</string>
								<key>abbreviations</key>
								<array>
									<string>7sus4</string>
								</array>
								<key>mode</key>
								<array>
									<string>Usually mixolydian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>4</integer>
									<string>(5)</string>
									<string>♭7</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>eleventh</string>
								<key>abbreviations</key>
								<array>
									<string>11</string>
									<string>sus</string>
									<string>Bb/C for C11</string>
								</array>
								<key>mode</key>
								<array>
									<string>Usually mixolydian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>(5)</string>
									<string>♭7</string>
									<string>(9)</string>
									<string>11</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>eleventh (special voicing)</string>
								<key>abbreviations</key>
								<array>
									<string>11</string>
								</array>
								<key>mode</key>
								<array>
									<string>Mixolydian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>4</integer>
									<string>(5)</string>
									<string>♭7</string>
									<string>(9)</string>
									<integer>11</integer>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>suspended 4th ♭9</string>
								<key>abbreviations</key>
								<array>
									<string>♭9sus</string>
									<string>phryg</string>
								</array>
								<key>mode</key>
								<array>
									<string>Phrygian or phyrgian ♯6</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>4</integer>
									<string>(5)</string>
									<string>♭9</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Minor</string>
				<key>everyChild</key>
				<array>
					<dict>
						<key>name</key>
						<string>Normal</string>
						<key>kind</key>
						<integer>0</integer>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>minor</string>
								<key>abbreviations</key>
								<array>
									<string>min</string>
									<string>m</string>
									<string>-</string>
								</array>
								<key>mode</key>
								<array>
									<string>Dorian or aeolian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>♭3</string>
									<string>(5)</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>minor seventh</string>
								<key>abbreviations</key>
								<array>
									<string>mi7</string>
									<string>min7</string>
									<string>m7</string>
									<string>-7</string>
								</array>
								<key>mode</key>
								<array>
									<string>Dorian or aeolian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>♭3</string>
									<string>(5)</string>
									<string>♭7</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>minor/major seventh</string>
								<key>abbreviations</key>
								<array>
									<string>m/ma7</string>
									<string>m/maj7</string>
									<string>mM7</string>
									<string>m/M7</string>
									<string>-Δ7</string>
									<string>mΔ</string>
								</array>
								<key>mode</key>
								<array>
									<string>Minor melodic (ascending)</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>♭3</string>
									<string>(5)</string>
									<integer>7</integer>
									<string>(9, 13)</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>minor/major seventh</string>
								<key>abbreviations</key>
								<array>
									<string>m/ma7</string>
									<string>m/maj7</string>
									<string>mM7</string>
									<string>m/M7</string>
									<string>-Δ7</string>
									<string>mΔ</string>
								</array>
								<key>mode</key>
								<array>
									<string>Harmonic Minor</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>♭3</string>
									<string>(5)</string>
									<integer>7</integer>
									<string>(9, b13)</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>minor sixth</string>
								<key>abbreviations</key>
								<array>
									<string>m6</string>
								</array>
								<key>mode</key>
								<array>
									<string>Dorian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>♭3</string>
									<string>(5)</string>
									<integer>6</integer>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>minor ninth</string>
								<key>abbreviations</key>
								<array>
									<string>m9</string>
								</array>
								<key>mode</key>
								<array>
									<string>Dorian or aeolian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>♭3</string>
									<string>(5)</string>
									<string>♭7</string>
									<integer>9</integer>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>minor eleventh</string>
								<key>abbreviations</key>
								<array>
									<string>m11</string>
								</array>
								<key>mode</key>
								<array>
									<string>Dorian or aeolian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>♭3</string>
									<string>(5)</string>
									<string>♭7</string>
									<string>(9)</string>
									<integer>11</integer>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>minor thirteenth</string>
								<key>abbreviations</key>
								<array>
									<string>m13</string>
								</array>
								<key>mode</key>
								<array>
									<string>Dorian</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>♭3</string>
									<string>(5)</string>
									<string>♭7</string>
									<string>(9)</string>
									<integer>13</integer>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Diminished</string>
						<key>kind</key>
						<integer>0</integer>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>diminished</string>
								<key>abbreviations</key>
								<array>
									<string>dim</string>
									<string>°</string>
								</array>
								<key>mode</key>
								<array>
									<string>Tone/Half-tone (8 note scale)</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>♭3</string>
									<string>♭5</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>diminished seventh</string>
								<key>abbreviations</key>
								<array>
									<string>dim7</string>
									<string>°</string>
									<string>°7</string>
								</array>
								<key>mode</key>
								<array>
									<string>Tone/Half-tone (8 note scale)</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<string>♭3</string>
									<string>♭5</string>
									<string>b♭7</string>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>half-diminished</string>
								<key>abbreviations</key>
								<array>
									<string>m7♭5</string>
									<string>ø</string>
								</array>
								<key>mode</key>
								<array>
									<string>Locrian or locrian</string>
									<string>♯2</string>
								</array>
								<key>everyChild</key>
								<array>
									<integer>1</integer>
									<integer>0</integer>
									<string>♭5</string>
									<string>♭7</string>
									<string>(♭9 or 9,11,13..)</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Other</string>
				<key>everyChild</key>
				<array>
					<dict>
						<key>name</key>
						<string>fifth</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>5</string>
							<string>(no 3rd)</string>
						</array>
						<key>mode</key>
						<array>
							<string>None</string>
						</array>
						<key>everyChild</key>
						<array>
							<integer>1</integer>
							<integer>5</integer>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>augmented</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>aug</string>
							<string>+</string>
						</array>
						<key>mode</key>
						<array>
							<string>Whole tone (6 note scale)</string>
						</array>
						<key>everyChild</key>
						<array>
							<integer>1</integer>
							<integer>3</integer>
							<string>♯5</string>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>augmented seventh</string>
						<key>kind</key>
						<integer>0</integer>
						<key>abbreviations</key>
						<array>
							<string>7♯5</string>
							<string>maj7+5</string>
						</array>
						<key>mode</key>
						<array>
							<string>Whole tone (6 note scale)</string>
						</array>
						<key>everyChild</key>
						<array>
							<integer>1</integer>
							<integer>3</integer>
							<string>♯5</string>
							<integer>7</integer>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Scales</string>
		<key>everyChild</key>
		<array>
			<dict>
				<key>name</key>
				<string>Just Intonation</string>
				<key>everyChild</key>
				<array>
					<dict>
						<key>name</key>
						<string>Natural Chromatic</string>
						<key>kind</key>
						<integer>1</integer>
						<key>everyChild</key>
						<array>
							<dict>
								<key>name</key>
								<string>Perfect unison</string>
								<key>numerator</key>
								<integer>1</integer>
								<key>denominator</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Minor second</string>
								<key>numerator</key>
								<integer>16</integer>
								<key>denominator</key>
								<integer>15</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Major second</string>
								<key>numerator</key>
								<integer>9</integer>
								<key>denominator</key>
								<integer>8</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Minor third</string>
								<key>numerator</key>
								<integer>6</integer>
								<key>denominator</key>
								<integer>5</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Major third</string>
								<key>numerator</key>
								<integer>5</integer>
								<key>denominator</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Perfect Fourth</string>
								<key>numerator</key>
								<integer>4</integer>
								<key>denominator</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Diminished fifth</string>
								<key>numerator</key>
								<integer>64</integer>
								<key>denominator</key>
								<integer>45</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Perfect fifth</string>
								<key>numerator</key>
								<integer>3</integer>
								<key>denominator</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Minor sixth</string>
								<key>numerator</key>
								<integer>8</integer>
								<key>denominator</key>
								<integer>5</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Major sixth</string>
								<key>numerator</key>
								<integer>5</integer>
								<key>denominator</key>
								<integer>3</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Minor seventh</string>
								<key>numerator</key>
								<integer>16</integer>
								<key>denominator</key>
								<integer>9</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Major seventh</string>
								<key>numerator</key>
								<integer>15</integer>
								<key>denominator</key>
								<integer>8</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>Perfect octave</string>
								<key>numerator</key>
								<integer>2</integer>
								<key>denominator</key>
								<integer>1</integer>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
