<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selectedScaleDisplayType</key>
	<integer>1</integer>
	<key>selectedSpectrumType</key>
	<integer>1</integer>
	<key>selectedWaveViewScale</key>
	<integer>1</integer>
	<key>numeratorPrimeLimit</key>
	<integer>2</integer>
	<key>denominatorPrimeLimit</key>
	<integer>1</integer>
	<key>oddLimit</key>
	<integer>225</integer>
</dict>
</plist>
